{% extends 'course/base.html' %}

{% block content %}
    <div class="flex flex-grow container mx-auto p-4">
        {% if courses %}
        {% for course in courses %}
            <h2 class="text-xl p-4 border-2 m-2 shadow-xl "> {{ course.title }}</h2>
            <p>{{ course.description }}</p>
            <p>Category: {{ course.category }}</p>
            <p>Created At: {{ course.created_at }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No courses found.</p>
    {% endif %}
    </div>
{% endblock %}

